
/* by yahya 

Iam from in iraq;
baghdad 
phone number = 009647713072470;

*/

*,html,body
{
    margin:0;
    padding: 0;
}
body{
    height: 3000px;
}

header{
    height: 122px;
    line-height: 112px;
    position: fixed;
    z-index: 1;
    width: 100%;
}
.secondary{
    background-color: deepskyblue;
    box-shadow: 0px 0px 17px 0px;
    transition: all 0.5s ease-in;
}


ul{
    list-style: none;
}

ul li {
    display: inline-block;
}

header nav{
    float: right;
}

.logo{
    margin-top: 30px;
}

header nav ul li a {
    padding-right: 30px;
    font-weight: bold;
    color: white;
    transition: all 0.5s ease-in-out;
}
header nav ul li a:hover{
    text-decoration: none;
    color: red;
}

.img1{
    background-image:linear-gradient(rgba(0,0,0,0.7),rgb(0,0, 0,7)),url(../image/slider-photo1.jpg);
    background-size: 100% 100%;

}
.img2{
    background-image:linear-gradient(rgba(0,0,0,0.7),rgb(0,0, 0,7)),url(../image/slider-photo2.jpg);
    background-size: 100% 100%;

}
.img3{
    background-image:linear-gradient(rgba(0,0,0,0.7),rgb(0,0, 0,7)),url(../image/slider-photo3.jpg);
    background-size: 100% 100%;

}

.slider,.slider ul,.slider ul li
{
    height: 710px;
    width: 100%;
    color: rgb(255, 255, 255);
    text-align: center;

}

.slider h2{
    font-weight: bold;
    margin-top: 270px;
}

.slider span {
    color: orange;
}
.slider a {
    padding: 10px 50px;
    margin-right: 10px;
}
.slider a.btn-half{
    background-color: darkturquoise;
    color: white;
    transition: 0.5 ease-in;

}
.slider a.btn-half:hover{
   background-color: dodgerblue;
}

.slider a.btn-full{
    background-color: orange;
    color: white;
    transition: 0.5 ease-in;
}
.slider a.btn-full:hover{
    background-color: #e67e22;
}


.slider i {
    font-size: 35px;
    margin-right: 10px;
}

/*start section */
.intro-area{
    position: relative;
    padding: 100px 8px;
    text-align: center;
}

.sub-heading {
    position: relative;
    margin-bottom: 75px;
}
.sub-heading:before{
    content:"" ;
    position: absolute;
    top: 100%;
    left:50%;
    margin-left:-3%;
    width: 5%;
    height: 1px;
    background-color: deepskyblue;
    z-index: 1;
    transition: 0.3 ease;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    -ms-transition: 0.3s ease;



}
.sub-heading:hover:before{
    width:24%;
    margin-left: -12%;
}

.sub-heading:after{
    content: "";
    position: absolute;
    top:100%;
    left:50%;
    margin-left:-12%;
    width: 24%;
    height: 1px;
    background-color: #e1e1e1;
}

.sub-heading p {
    color: #818181;
    display: inline-block;
    padding: 0px 0px 20px;
    position: relative;
    line-height: 24px;
    letter-spacing: 0.025em;
}

.intro-block 
{
    position: relative;
    background: #eee;
    margin: 50px 0px 0px;
    text-align: center;
    padding: 70px 25px 40px;
    
}
.intro-block:hover, .intro-block.active {
    background: #0AAE;
}
.intro-block:hover {
    transition: .6s ease;
    -webkit-transition: .6s ease;
    -moz-transition: .6s ease;
    -o-transition: .6s ease;
    -ms-transition: .6s ease;
}

.intro-block .intro-icon {
    position: absolute;
    top:-31px;
    left:50%;
    margin-left: -31px;
}
.intro-block .fab {
    height: 63px;
    width: 63px;
    font-size: 38px;
    color: white;
    line-height: 2;
    background: deepskyblue;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 10px rgb(162, 210, 226);


}
.intro-block .fas {
    height: 63px;
    width: 63px;
    font-size: 38px;
    color: white;
    line-height: 2;
    background: deepskyblue;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 10px rgb(162, 210, 226);


}
.intro-block:hover .fab ,.intro-block.active .fab {
    background: white;
    color:deepskyblue;
    box-shadow: 0px 0px 0px 10px rgb(162, 210, 226);

}

.intro-block h3 {
    font-size: 18px;
    color: deepskyblue;
    font-weight: 700;
    text-transform: uppercase;
    -webkit-text-transform: uppercase;
    -moz-text-transform: uppercase;
    -o-text-transform: uppercase;
   -ms-text-transform: uppercase;
   margin-bottom: 15px;

}
.intro-block p {
    color:#505050;
}

.intro-block:hover h3, .intro-block:hover p {
    color: #f6f6f6;

}

.feature-area{
    background-image:linear-gradient(rgba(0,0,0,0.7),rgb(0,0, 0,7)), url(../image/slider-photo5.jpg);
    background-position: center;
    background-attachment: fixed;
}
.title h2,p {
    color: white;
}

.title .sub-heading p{
    color:#f3f3f3;
    border-color: deepskyblue;
}

.single-feature h3 {
    color: white;

}
.single-feature{
    position: relative;
    width: 325px;
    float: left;
    padding: 30px 0;
    text-align: center;
    border-right: 1px solid #65c8e5;
    border-bottom: 1px solid #65c8e5;
    transition: .3s ease;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    -o-transition: .3s ease;
    -ms-transition: .3s ease;
}
.featured-block:after{
    content: "";
    display: table;

}
.featured-block:after{
    clear: both;
}
.featured-icon{
    display: inline-block;
    margin-bottom: 20px;
}

.single-feature i.fas{
    border: 2px solid #fff;
    padding: 15px;
    border-radius: 50%;
    font-size:30px;
    background-color: #00a7dd;
    color:white;
    width: 64px;
    height: 64px;
    transition: .3s ease;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    -o-transition: .3s ease;
    -ms-transition: .3s ease;
}
.single-feature:hover .featured-icon .fas {
    border: 2px solid #00a7dd;
    background: white;
    color: deepskyblue;
 
}

.single-feature:nth-of-type(even){
    border-right: none;
}
.single-feature:nth-last-child(2){
    border-bottom: none;
}
.single-feature:last-child{
    border-bottom: none;
}


.feature-area {
    padding:  100px 0;
}

.feature-mockup{
    bottom:-220px;
    position: relative;
}